<ul class="dashboardmenu">
    <li><a href="{{ path('user_dashboard') }}">> Mijn Gegevens</a></li>
    <li><a href="{{ path('user_dashboard_lidmaatschap') }}">> Mijn Lidmaatschap</a></li>
    <li><a href="{{ path('user_dashboard_betalingen') }}">> Mijn Betalingen</a></li>
    <li><a href="{{ path('user_logout') }}">> Uitloggen</a></li>
</ul>