{% extends 'mailbase.html.twig' %}

{% block body %}
    <div class="container">
        <div class="header">
            <div id="headerImage">
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/bundles/sit/images/logo_large.png') }}" style=" height: 66%; margin-top: 50px;" />
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <style>
        *{
            margin: 0px;
            padding: 0px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            letter-spacing: 1.2px;
            color: #2a2a2a;
        }

        body{
            background-color: #FFFFFF;
        }

        h1{
            font-size: 24px;
            margin-bottom: 5px;
            margin-top: 40px;
            text-transform: uppercase;
        }

        h1:first-of-type{
            margin-top: 10px;
        }

        h2{
            margin-bottom: 5px;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        p{
            margin-bottom: 15px;
        }

        .content{
            padding: 10px;
            max-width: 700px;
            width:95%;
            margin: 0px auto;
            padding: 50px;
        }

        #slide-2 .container{
            width: 100%;
            margin: 0px auto;
            background-color: white;
        }

        #headerImage {
            background-color: rgba(28,28,28, 0.8);
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .header{
            background-size: cover;
            background-position: 0px 30%;
            background-image: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/bundles/sit/images/DSC_0569.JPG') }}');
            height: 350px;
            background-repeat: no-repeat;
            width: 100%;
            border-bottom: 1px #333333 solid;
        }

        @media (max-width: 768px) {
            .header{
                height: 250px;
            }

            .content{
                padding: 30px 0px;
            }
        }
    </style>
{% endblock %}